td{
    width: 200px;
    height: 200px;
    align-items: center;
    text-align: center;
}
/*
.secao1{
    display: flex;
}
*/

.bloco {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

.cores{
    width: 30px;
    height: 30px;
  }

.botao{
    width: 30px;
    height: 30px;
  }
/*cores bloco 1*/
#bt1bloco1cor1{
    background-color: blue;
}
#bt1bloco1cor2{
    background-color: yellow;
}
#bt1bloco1cor3{
    background-color: cyan;
}
#bt1bloco1cor4{
    background-color: red;
}

/*cores bloco 2*/
#bt1bloco2cor1{
    background-color: black;
}
#bt1bloco2cor2{
    background-color: blue;
}
#bt1bloco2cor3{
    background-color: grey;
}
#bt1bloco2cor4{
    background-color: purple;
}    
/*cores bloco 3*/
#bt1bloco3cor1{
    background-color: orange;
}
#bt1bloco3cor2{
    background-color: black;
}
#bt1bloco3cor3{
    background-color: blue;
}
#bt1bloco3cor4{
    background-color: purple;
} 
/*cores bloco 4*/
#bt1bloco4cor1{
    background-color: orange;
}
#bt1bloco4cor2{
    background-color: black;
}
#bt1bloco4cor3{
    background-color: blue;
}
#bt1bloco4cor4{
    background-color: purple;
}   

#secao1lin1col2{
    display: flex;
}




